
//section clients
.clients{
  &__title{
    font-size: 25px;
    font-family: 'HelveticaNeueBlack', sans-serif;
    text-transform: uppercase;
    margin: 40px 0 25px;
  }
  &__txt{
    margin-bottom: 50px;
  }
  &__list{}
  &__item{
    font-size: 16px;
    line-height: 25px;
    padding-left: 35px;
    position: relative;
    &:before{
      content: '•';
      position: absolute;
      font-weight: bold;
      left: 0;
    }
  }
  &__text{
    font-size: 16px;
    line-height: 25px;
  }
  &__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-xl-max) {
      justify-content: center;
    }
    &__img{
      max-width: 100%;
      height: auto;
      margin: 0 15px 30px;
      display: block;
    }
  }
}
//section clients

//section works
.works{
  display: flex;
  flex-flow: row wrap;
  @media (max-width: $screen-md-max) {
    flex-direction: column;
  }
  &__item{
    flex: 50%;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    @media (max-width: $screen-sm-max) {
      height: 300px;
    }
    &:hover .works__bg{
      opacity: .3;
      transform: scale(1.1);
    }
  }
  &__bg{
    background: url(../img/Layer-8.png) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .6125s cubic-bezier(.39,.575,.565,1),transform 4s cubic-bezier(.39,.575,.565,1);
  }
  &__logo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
  }
  &__text{
    color: #fff;
    font-size: 16px;
    z-index: 2;
    position: relative;
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }
}
//section works
