//header
.header {
  background-color: var(--grey);
  height: 66px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0 20px 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $screen-md-max){
    padding: 0 15px;
  }
}
//header

//nav
.nav {
  display: flex;
  align-items: center;
  @media (max-width: $screen-md-max) {
    display: block;
    align-items: center;
    position: fixed;
    right: -240px;
    top: 66px;
    width: 240px;
    height: 100vh;
    z-index: 100;
    background: var(--grey);
    transition: .3s all ease;
  }
  &__menu {
    display: flex;
    @media (max-width: $screen-md-max) {
      display: block;
    }
  }
  &__item {
    padding: 0 15px;
    height: 66px;
    transition: .3s all ease;
    &:hover {
      background-color: #5cb68c;
    }
  }
  &__link {
    font-size: 16px;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__other {
    border: 2px solid #fff;
    border-radius: 5px;
    height: 32px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-left: 22px;
    @media (max-width: $screen-md-max) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      margin: 20px auto 0;
    }
  }
}
//nav

//hamb for mob
.hamb{
  border-bottom: 2px solid #fff;
  width: 25px;
  padding-bottom: 25px;
  position: fixed;
  z-index: 99;
  top: 15px;
  right: 15px;
  display: none;
  backface-visibility: hidden;
  transition: .3s all ease;
  cursor: pointer;
  &:before{
    content: '';
    height: 2px;
    width: 25px;
    background-color: #fff;
    position: absolute;
    transition: all .3s ease;
    left: 0;
    top: 8px;
  }
  &:after{
    content: '';
    height: 2px;
    width: 25px;
    background-color: #fff;
    position: absolute;
    transition: all .3s ease;
    left: 0;
    top: 16px;
  }
  @media (max-width: $screen-md-max) {
    display: block;
  }
  &.active{
    border-bottom: none;
    &:before{
      left: 7px;
      top: 15px;
      transform: rotate(45deg);
    }
    &:after{
      left: 7px;
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}
//hamb for mob

//sub-menu
.sub-menu{
  margin-top: 66px;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  @media (max-width: $screen-md-max) {
    height: auto;
    border-bottom: none;
  }
  &__list{
    padding: 0 30px;
    height: 70px;
    display: flex;
    align-items: center;
    @media (max-width: $screen-md-max) {
      display: none;
      text-align: center;
      height: auto;
    }
  }
  &__item{
    margin-right: 15px;
    @media (max-width: $screen-md-max) {
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: 1px solid #f0f0f0;
    }
  }
  &__link{
    font-size: 14px;
    color: #000;
    transition: .3s all ease;
    &:hover{
      color: var(--green);
    }
    &.active{
      color: var(--green);
    }
  }
}
//sub-menu

//drop-down for mob
.drop-down{
  display: none;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  &__arrow{
    width: 0;
    height: 0;
    transform: rotate(180deg);
    border-bottom: 7px solid var(--grey);
    position: absolute;
    right: 15px;
    top: 22px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transition: .3s all ease;
  }
  &.active{
    .drop-down__arrow{
      transform: rotate(0);
    }
  }
  @media (max-width: $screen-md-max) {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
//drop-down for mob
