//base style

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueLight', sans-serif;
}

a {
  text-decoration: none;
  transition: .3s all ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: transparent;
}

.wrapper {
  margin: 0 auto;
  max-width: 1075px;
  @media (max-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}