@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeueLight.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueBlack';
  src: url("../fonts/HelveticaNeueBlack.ttf") format("truetype");
  font-style: normal;
}
